.clients {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-maintext {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.clients-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  left: 615px;
  top: 2490px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ffffff;
    color: var(--button-color);
    border-color: var(--button-color);
  }
}
.clients-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
// .clients-item {
//   @media screen and (min-width: 768px) {
//     width: calc((100% - 60px) / 3);
//   }
//   @media screen and (min-width: 1200px) {
//     width: calc((100% - 150px) / 6);
//   }
// }
