.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-end;
}
.team-maintext {
  font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  font-size: 28px;
  line-height: 1.14;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
  letter-spacing: 0.03em;
  color: var(--font-black);
  margin-bottom: 50px;
  text-align: center;
}

.team-toptext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-black);
  text-align: center;
  margin-bottom: 10px;
}
.team-bottomtext {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-grey);
  text-align: center;
}
.team1 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.soc-list {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.soc-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .soc-link:hover &,
  .soc-link:focus & {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.team {
  background-color: #f5f4fa;
}
.team-members {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
